.hard-skill{
    margin-top: 170px;
}
.hard-skill-content{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 50px;
}
.hard-skill-title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}