.work-item{
    padding: 20px;
    text-align: center;
    border: 1px solid #d9d9d9;
    transition: all 0.4s ease;
    width: 300px;
    height: 300px;
}
.work-item:hover{
    border: 1px solid #9d9d9d;
}
.work-item-img{
    width: 200px;
    height: 200px;
}
.open-more{
    display:flex;
    align-items:center;
    justify-content:flex-end;
}
.open-more>p{
    color: #bdbcbc;
}
.open-more>:hover{
    cursor: pointer;
}