.about{
    padding-top: 100px;
    height: 100vh;
}
.about-title{
    text-align: center;
}
.about-content{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}
.content-photo>img{
    width: 400px;
    height: 500px;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.content-photo>img:hover{
    /*transform: scale(1.3);*/
}
.content-desc{
    display: flex;
    justify-content: space-evenly;
}
.content-desc_1{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 100px;
}
.block{
    box-shadow: 0 0 2px 2px rgba(0,0,0,.1);
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 18px;
    transition: box-shadow .2s ease-in;
}
.block:hover{
    box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
}
.block>div{
    margin-top: 40px;
}
.download_btn{
    /*margin-top: 100px;*/
    /*margin-left: 50px;*/
}
.download_btn>a{
    text-decoration: none;
    color:white;
    background-color: black;
    padding: 10px;
}