.soft-skill{
    height: 100vh;
    padding-top: 100px;
}
.soft-skill-title{
    text-align: center;

}
.soft-skill-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 100px;
}