.header{
    position:fixed;
    width: 65%;
    top:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: none;
}
.github-content{
    background: transparent;
}
.github_logo{
    background: transparent;
}
.github-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    background: transparent;
}
.github_name{
    font-size: 25px;
    margin-left: 10px;
    transition: color 0.3s ease-in;
    background: transparent;
}
.github_name:hover{
    color: #9b9696;
}
.header-nav{
    display: flex;
    background: transparent;
}
.header-link{
    margin-left: 50px;
    position: relative;
    font-size: 18px;
    background: transparent;
}
.header-link:hover{
    cursor: pointer;
}
.header-link:not(.activeClass)::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -5px;
    transform: scale(0,1);
    transition: transform 0.25s ease;
    transform-origin: 0 100%;
}
.header-link:not(.activeClass):hover::before{
    transform: scale(1,1);
}
.header-link.activeClass::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: black;
    bottom: -5px;
    left: 0;
}